.search{
      font-size: 47px;
      height: 120px;
      width: 520px;
      margin-top: 22px;
      margin-left: 25px;
      border-style: solid;
      border-color: rgb(96,96,96);
      border-radius: 25px;
      padding-left: 30px;
    }
    
.google{
      background: white;
      border: none;
      padding-top: 33px;
      padding-bottom: 33px;
      padding-left: 45px;
      padding-right: 240px;
      font-size: 47px;
      border-radius: 80px;
      box-shadow:5px 5px 16px rgba(0,0,0,0.5);
    }
    
.email{
       font-size: 32px;
       margin-left: 35px;
     }
    
      .text{
       padding-top: 25px;
       padding-bottom: 25px;
       padding-left: 30px;
       padding-right: 450px;
       border-style: solid;
       margin-left: 35px;
       margin-top: 10px;
       border-color: black;
       font-size: 31px;
       border-radius: 6px; 
      }
    
.click{
        font-size: 28px;
       margin-left: 35px;
      }
    
.linkedin-button{
      background-color: rgb(10, 102, 194);
      color: white;
      border: none;
      height: 120px;
      width: 705px;
      font-size: 48px;
      margin-left: 32px;
      font-weight: bold;
      border-radius: 60px;
      cursor: pointer;
      transition: background-color 0.15s;
    }
    
.container{
      display: flex;
      align-items: center;
}

.black{
      width: 188px;
      height: 188px;
      object-fit: cover;
      border-radius: 50%;
      object-position: top;
      padding-left: 10px;
      padding-right: 23px;
    }
    
.happen{
      font-size: 46px;
      font-family: Arial;
      color: rgb(94,94,94);
      margin-left: 2px;
      margin-right: 20px;
      text-align: center;
    }

.tweet-button{
      background-color: rgb(2, 158, 255);
      color: white;
      border: none;
      height: 98px;
      width: 220px;
      border-radius: 49px;
      font-weight: bold;
      font-size: 44px;
      cursor: pointer;
      margin-left: 90px;
      margin-right: 3px;
      transition: box-shadow 0.15s;   
     }
     
     .tweet-button:hover{
       box-shadow:5px 5px 16px rgba(0,0,0,0.5);
     }
